*.obj
s*.exp
s*.lib
*.exe
*.res
*.pdb
s*.dll
lua51.dll
lua51.exp
lua51.lib
memlib_lua.h
fileutil_lua.h
*.log*
*~
Debug/
Release/
vshader.h
vtexshader.h
pshader.h
ptexshader.h
vmdef.lua
soft/zlib-1.2.11/*.exp
soft/zlib-1.2.11/*.lib
soft/zlib-1.2.11/*.dll
soft/FW1FontWrapper/Source/vsimple.h
soft/FW1FontWrapper/Source/vclip.h
soft/FW1FontWrapper/Source/vempty.h
soft/FW1FontWrapper/Source/gsimple.h
soft/FW1FontWrapper/Source/gclip.h
soft/FW1FontWrapper/Source/psimple.h
soft/FW1FontWrapper/Source/pclip.h
buildvm.exp
buildvm.lib
luajit.exp
luajit.lib
minilua.exp
minilua.lib
